*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.log

.vercel
node_modules
public/program.js
lib/
.idea
/src/generated/*.ts
.config
.next
.cache
.local
generated
logic/buslo-collective-firebase-adminsdk-a83ac-ccd3c671eb.json
